<form (ngSubmit)="signUp(f)" #f="ngForm">
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="email">
              Email
            </label>
            <input type="email" id="email" name="email" ngModel class="form-control">
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="password">
              Password
            </label>
            <input type="password" id="password" name="password" ngModel class="form-control">
          </div>
    </div>
  </div>
  <button class="btn btn-success" type="submit" id="signup">
    Sign Up
  </button>
</form>